.contact-form {
    width: 500px;
    margin: auto;
    padding: 20px;
    background: #eee;
}
.contact-form input[type="text"] {
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
    border: 1px solid #d6d6d6;
}
.contact-form input[type="radio"] {
    width: 30px;
}
.contact-form button {
    width: 100%;
    margin-top: 16px;
    padding: 6px;
    border: navajowhite;
    background: #a49cff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


/* table */
.user-table {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.user-table table {
    width: 100%;
    text-align: left;
    border: 1px solid #685656;
}
.user-table table thead tr {
    background: #d5cfcf;
}
.user-table table thead tr th {
    border: 1px solid #685656;
    padding: 8px 10px;
}
tbody tr {
    background: #ffffff;
}
tbody tr:nth-child(odd) {
    background: #e8e8e8;
}
tbody tr td {
    border: 1px solid #685656;
    padding: 2px 9px;
}
tbody tr td img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
tbody tr td button {
    background: #2fe152;
    border: none;
    padding: 4px 15px;
    font-size: 21px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}
tbody tr td button.trash {
    background: #ff5f5f;
}